<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    {% load static %}
    <img src="{% static "quick_mart/images/logo.png" %}" width="40" class="d-inline-block align-top" alt="">
    <text style="color: black"> Quick Mart </text>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <form action="/" method="get">
            <button id="navBarOptions"  class="btn navbar-brand text-dark d-inline" type="submit">Home</button>
        </form>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="get">
                <button class="btn navbar-brand text-dark d-inline" type="submit">Log Out</button>
            </form>
            <form action="{% url 'profile' %}" method="get">
                <button class="btn navbar-brand text-dark d-inline" type="submit">Profile</button>
            </form>
            <form action="{% url 'preferences' %}" method="get">
                <button class="btn navbar-brand text-dark d-inline" type="submit">Preferences</button>
            </form>
            <form action="{% url 'scan' %}" method="get">
                <button class="btn navbar-brand text-dark d-inline" type="submit">Scan</button>
            </form>
        {% else %}
            <form action="{% url 'login' %}" method="get">
            <button class="btn navbar-brand text-dark d-inline" type="submit">Log In</button>
            </form>
            <form action="{% url 'register' %}" method="get">
                <button class="btn navbar-brand text-dark d-inline" type="submit">Register</button>
            </form>
        {% endif %}
    </div>
  </div>
</nav>