<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-sm-4">
            <div class="checkbox">
              <label><input id='vegan' type="checkbox" value=""> Vegan</label>
            </div>
            <div class="checkbox">
              <label><input id='vegetarian' type="checkbox" value=""> Vegetarian</label>
            </div>
            <div class="checkbox">
              <label><input id='gluten-free' type="checkbox" value=""> Gluten Free</label>
            </div>
            <div class="checkbox">
              <label><input id='wheat-free' type="checkbox" value=""> Wheat Free</label>
            </div>
            <div class="checkbox">
              <label><input id='tree-nut-free' type="checkbox" value=""> Tree Nut Free</label>
            </div>
            <div class="checkbox">
              <label><input id='soy-free' type="checkbox" value=""> Soy Free</label>
            </div>
            <div class="checkbox">
              <label><input id='shellfish-free' type="checkbox" value=""> Shellfish Free</label>
            </div>
            <div class="checkbox">
              <label><input id='sesame-free' type="checkbox" value=""> Sesame Free</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="checkbox">
              <label><input id='low-sugar' type="checkbox" value=""> Low Sugar</label>
            </div>
            <div class="checkbox">
              <label><input id='no-oil-added' type="checkbox" value=""> No Oil Added</label>
            </div>
            <div class="checkbox">
              <label><input id='mustard-free' type="checkbox" value=""> Mustard Free</label>
            </div>
            <div class="checkbox">
              <label><input id='lupine-free' type="checkbox" value=""> Lupine Free</label>
            </div>
            <div class="checkbox">
              <label><input id='kosher' type="checkbox" value=""> Kosher</label>
            </div>
            <div class="checkbox">
              <label><input id='diary-free' type="checkbox" value=""> Diary Free</label>
            </div>
            <div class="checkbox">
              <label><input id='egg-free' type="checkbox" value=""> Egg Free</label>
            </div>
            <div class="checkbox">
              <label><input id='fish-free' type="checkbox" value=""> Fish Free</label>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="checkbox">
              <label><input id='fodmap-free' type="checkbox" value=""> Fodmap Free</label>
            </div>
            <div class="checkbox">
              <label><input id='alcohol-free' type="checkbox" value=""> Alcohol Free</label>
            </div>
            <div class="checkbox">
              <label><input id='celery-free' type="checkbox" value=""> Celery Free</label>
            </div>
            <div class="checkbox">
              <label><input id='crustacean-free' type="checkbox" value=""> Crustacean Free</label>
            </div>
            <div class="checkbox">
              <label><input id='red-meat-free' type="checkbox" value=""> Red Meat Free</label>
            </div>
            <div class="checkbox">
              <label><input id='pork-free' type="checkbox" value=""> Pork Free</label>
            </div>
            <div class="checkbox">
              <label><input id='pecatarian' type="checkbox" value=""> Pecatarian</label>
            </div>
            <div class="checkbox">
              <label><input id='peanut-free' type="checkbox" value=""> Peanut Free</label>
            </div>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->