{%  extends "base.html" %}
{% block content %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3 class="display-5">Hello, {{ user.username|capfirst }}!</h3>
          <p class='display-5'>Pick your food preference and restrictions.</p>
        </div>
      </div>

      {% include 'partials/search_file.html' %}

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-sm-4">
            <div id='vegan' class="checkbox">
              <label><input type="checkbox" value=""> Vegan</label>
            </div>
            <div id='vegetarian' class="checkbox">
              <label><input type="checkbox" value=""> Vegetarian</label>
            </div>
            <div id='gluten-free' class="checkbox">
              <label><input type="checkbox" value=""> Gluten Free</label>
            </div>
            <div id='wheat-free' class="checkbox">
              <label><input type="checkbox" value=""> Wheat Free</label>
            </div>
            <div id='tree-nut-free' class="checkbox">
              <label><input type="checkbox" value=""> Tree Nut Free</label>
            </div>
            <div id='soy-free' class="checkbox">
              <label><input type="checkbox" value=""> Soy Free</label>
            </div>
            <div id='shellfish-free' class="checkbox">
              <label><input type="checkbox" value=""> Shellfish Free</label>
            </div>
            <div id='sesame-free' class="checkbox">
              <label><input type="checkbox" value=""> Sesame Free</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div id='low-sugar' class="checkbox">
              <label><input type="checkbox" value=""> Low Sugar</label>
            </div>
            <div id='no-oil-added' class="checkbox">
              <label><input type="checkbox" value=""> No Oil Added</label>
            </div>
            <div id='mustard-free' class="checkbox">
              <label><input type="checkbox" value=""> Mustard Free</label>
            </div>
            <div id='lupine-free' class="checkbox">
              <label><input type="checkbox" value=""> Lupine Free</label>
            </div>
            <div id='kosher' class="checkbox">
              <label><input type="checkbox" value=""> Kosher</label>
            </div>
            <div id='diary-free' class="checkbox">
              <label><input type="checkbox" value=""> Diary Free</label>
            </div>
            <div id='egg-free' class="checkbox">
              <label><input type="checkbox" value=""> Egg Free</label>
            </div>
            <div id='fish-free' class="checkbox">
              <label><input type="checkbox" value=""> Fish Free</label>
            </div>
          </div>
          <div class="col-sm-4">
              <div id='fodmap-free' class="checkbox">
              <label><input type="checkbox" value=""> Fodmap Free</label>
            </div>
            <div id='alcohol-free' class="checkbox">
              <label><input type="checkbox" value=""> Alcohol Free</label>
            </div>
            <div id='celery-free' class="checkbox">
              <label><input type="checkbox" value=""> Celery Free</label>
            </div>
            <div id='crustacean-free' class="checkbox">
              <label><input type="checkbox" value=""> Crustacean Free</label>
            </div>
            <div id='red-meat-free' class="checkbox">
              <label><input type="checkbox" value=""> Red Meat Free</label>
            </div>
            <div id='pork-free' class="checkbox">
              <label><input type="checkbox" value=""> Pork Free</label>
            </div>
            <div id='pecatarian' class="checkbox">
              <label><input type="checkbox" value=""> Pecatarian</label>
            </div>
            <div id='peanut-free' class="checkbox">
              <label><input type="checkbox" value=""> Peanut Free</label>
            </div>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
{% endblock %}