{%  extends "base.html" %}
{% block content %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3 class="display-5">Hello, {{ user.username }}!</h3>
          <p class='display-5'>Pick your food preference and restrictions.</p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-sm-4">
            <div id='vegan' class="checkbox">
              <label><input type="checkbox" value=""> Vegan</label>
            </div>
            <div id='vegetarian' class="checkbox">
              <label><input type="checkbox" value=""> Vegetarian</label>
            </div>
            <div id='gluten-free' class="checkbox">
              <label><input type="checkbox" value=""> Gluten Free</label>
            </div>
            <div id='wheat-free' class="checkbox">
              <label><input type="checkbox" value=""> Wheat Free</label>
            </div>
            <div id='tree-nut-free' class="checkbox">
              <label><input type="checkbox" value=""> Tree Nut Free</label>
            </div>
            <div id='soy-free' class="checkbox">
              <label><input type="checkbox" value=""> Soy Free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Shellfish-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Sesame-free</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="checkbox">
              <label><input type="checkbox" value=""> Low-sugar</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> No-oil-added</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Mustard-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Lupine-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Kosher</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Diary-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Egg-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Fish-free</label>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="checkbox">
              <label><input type="checkbox" value=""> Fodmap-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Alcohol-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Celery-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Crustacean-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Red-meat-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Pork-free</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Pecatarian</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Peanut-free</label>
            </div>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
{% endblock %}