{%  extends "base.html" %}
{% load crispy_forms_tags %}
{%  block content %}
    <div class="container">
        <div class="row" style="margin: 20px">
            <div class="col align-self-center">
                <h1>Quick Mart</h1>
                <p><b><i>We save your time</i></b></p>
            </div>
            <div class="col align-self-start">
                {% load static %}
                <img src="{% static "quick_mart/images/info.png" %}" width="300px" class="info_image" alt="">
            </div>
        </div>
        <div class="row" style="margin: 30px">
            <h2 class="col-lg-12 align-self-center">Instructions</h2>
        </div>
    </div>
{%  endblock content %}